[run]
omit = 
    */python?.?/*
    */lib-python/?.?/*.py
    */site-packages/nose/*
    */selenium/*
    */mock.py* 
    tests/* 
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
